<script type="text/javascript">
var walk_start="<%=@walk.start%>";
var walk_end="<%=@walk.end%>";
</script>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/walks/new">Walktopus</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">View Options</a>
        <ul class="dropdown">
          <li><a href="/walks/new">Preview a New Route</a></li>
          <li><a href="/walks">See All Previewed Walks</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="large-10 large-offset-1 columns" id="walk_show"><p class='redText'>Click on a marker to see streetview from that point along your route.</br></p></div>
</div>
<!-- <div class="row"> -->
<div class="large-1 columns"></div>
  <div class="large-5 large-offset-1 small-10 small-offset-1 columns" id="map-canvas">Map Canvas</div>
  <div class="large-5 large-offset-0 small-10 small-offset-1 columns" id="pano">Panorama</div>
<!-- </div>-->
<!-- <div class="row"> -->
  <div class="large-1 columns"></div>
    <div class="large-5 large-offset-1 small-5 small-offset-1 columns" id="route_box"></div>
  <div class="large-5 small-5 columns" id="directions_box"></div>
<!-- </div> -->