<script type="text/javascript">
var walk_start="<%=@walk.start%>";
var walk_end="<%=@walk.end%>";
</script>

<div id="walk_show">
<h1>Hover over map markers to see your walk</h1>
</div>

<div id="map-canvas"> </div>
<div id="pano"></div>
<div id="directions_box"></div>

</div>