<script type="text/javascript">
var walk_start="<%=@walk.start%>";
var walk_end="<%=@walk.end%>";
</script>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/walks/new">Walktopus</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
  <ul class="Left">
    <a href="#" data-reveal-id="myModal" data-reveal>View Complete Directions</a>
  </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <a href="#">Options</a>
        <ul class="dropdown">
          <li><a href="/walks/new">Preview a New Route</a></li>
          <li><a href="/walks">See All Previewed Walks</a></li>
        </ul>
      </li>
    </ul>
  </section>
</nav>

<!-- <div class="row">
  <div class="large-10 large-offset-1 columns" id="walk_show"><h5 class='redText'>Beginning at the yellow star, click on a marker to see streetview from that point along your route.</br></h5></div>
</div> -->
<!-- <div class="row"> -->
<div class="large-1 columns"></div>
  <div class="large-5 large-offset-1 small-10 small-offset-1 columns" id="map-canvas"></div>
  <div class="large-5 large-offset-0 small-10 small-offset-1 columns" id="pano"></div>
<!-- </div>-->
<!-- <div class="row"> -->
<!--   <div class="large-1 columns"></div> -->
<!--     <div class="large-5 large-offset-1 small-5 small-offset-1 columns" id="route_box"></div> -->
  <div class="large-12 small-12 columns" id="directions_box"></div>
  <div class="large-6 large-offset-3 columns">
  <button type="button" id="prevStepButton">Previous View</button>
  <button type="button" id="nextStepButton">Next View</button>
</div>

<!-- </div> -->

<div id="myModal" class="reveal-modal" data-reveal>
   <div id="full_directions_modal"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>