<script type="text/javascript">
var walk_start="<%=@walk.start%>";
var walk_end="<%=@walk.end%>";
</script>

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Walktopus V2</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Main Streetview/Map/Directions View</a></li>
      <li class="has-dropdown">
        <a href="#">View Options</a>
        <ul class="dropdown">
          <li><a href="#">Streetview with Directions</a></li>
          <li><a href="#">Streetview slideshow</a></li>

        </ul>
      </li>
    </ul>

  </section>
</nav>

<div id="walk_show" class="row">
<h1>Hover over map markers to see your walk</h1>
</div>
<div class="row")
<div class="small-12 large-6 columns" id="map-canvas"> </div>
<div class="small-12 large-6 columns" id="pano"></div>
</div>
<div id="directions_box"></div>

</div>