/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
html {height: 100%}
    body {height: 100%; margin: 10px; padding: 10px}
    h1 {
        text-align: center;
        font-size: 42px
    }
.gmnoprint img {
    max-width: 1000px;
}
    #map-canvas
    /*{height: 55%; width: 40%; float: left}*/
    {height: 32%}

    #pano
    /*{height: 55%; width: 40%; float: right}*/
    {height: 32%;}

    #route_box
    {height: 15%; background-color: white; opacity: 0.9; overflow:scroll}

    #directions_box

    {height: 15%; font-size: 14px; background-color: white; opacity: 0.9; overflow:scroll}

    #walk_show
    {height: 5%; margin-left:auto; font-size: 1em;
      margin-right:auto; text-align: center; margin-bottom: 5px; padding-bottom: 5px;
      background-color: white; opacity: 0.9;}


.redText {
color: orangered;
}
