/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
html {height: 100%}
    body {height: 100%; margin: 10px; padding: 10px}
/*    h1 {
        text-align: center;
        font-size: 42px
    }

    #map-canvas
    {height: 55%; width: 49%; float: left}

    #pano
    {height: 55%; width: 49%; float: right}*/

    /*#comment_box
    {height: 20%; width: 49%; float: right; background-color: white; opacity: 0.9;overflow:scroll}

    #directions_box
    {height: 20%; width: 49%; font-size: 14px; background-color: white; opacity: 0.9; float: left; ove*/rflow:scroll}
/*
    #walk_show
    {height: 15%; width: 100%; margin-left:auto;
      margin-right:auto; text-align: center; margin-bottom: 5px; padding-bottom: 5 px;
      background-color: white; opacity: 0.9;}

    #index_page
    {height: 25%; width: 80%; margin-left:auto;
      margin-right:auto; text-align: center; float:top;
      background-color: white; opacity: 0.9;}

    #walk_summary
    {height: 70%; width: 80%; overflow:scroll; margin-left:auto;
      margin-right:auto; background-color: white; opacity: 0.9;}

    #walk_form
    {height: 60%; width: 60%; margin-left:auto;
      margin-right:auto; text-align: center;
      background-color: white; opacity: 0.9;}

      table
        {
        border-collapse:separate;
        border-spacing:100px 10px;
        overflow:scroll;
        }

a:link {color:#B22222}
a:hover {color:#000000}
a:active {color:#B22222}*/